DEPLOYER = "Deployer private key"
POLYGONSCAN_API_KEY = "Polygonscan api key"
BLAST_ID = "Blast id"
TEST_SERVICE_SIGNER = "Service signer private key"
TEST_ACCOUNT_1 = "Test account private key"
TEST_ACCOUNT_2 = "Test account private key"
TENDERLY_USER = "Tenderly User" //Optional - disabled
TENDERLY_ACCESS_KEY = "Tenderly access key" //Optional - disabled
TENDERLY_PROJECT = "Tenderly project id" //Optional - disabled
SERVICE_FEE_ADDRESS = "Service fee public address"
ERC_20_CONTRACT_ADDRESS = "ERC20 contract address"
SERVICE_PUBLIC_KEY = "Service signer public key"